VisualElement {
}

.clickable {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    display:inline;
}
.clickable:hover{
    color:red;
        display:inline;
}
.sentence{
        color: blue;
    text-decoration: underline;
    cursor: pointer;
        display:inline;
}
